name: Auto-Close Issues & PRs

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

jobs:
  close-and-lock:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
      - name: Auto-Close Issues & PRs
        uses: actions/github-script@v7
        with:
          script: |
            const message = "Sorry, issues & pull requests are not accepted on this repository.";
            
            const { owner, repo } = context.repo;
            const issue_number = context.issue.number;

            await github.rest.issues.createComment({
              owner,
              repo,
              issue_number,
              body: message
            });

            await github.rest.issues.update({
              owner,
              repo,
              issue_number,
              state: 'closed'
            });

            try {
              await github.rest.issues.lock({
                owner,
                repo,
                issue_number,
                lock_reason: 'resolved'
              });
            } catch (err) {
              console.log("Could not lock the issue: " + err.message);
            }
